@model PhotosManager.Models.Photo
@{
    ViewBag.Title = "Détails de photo";
    var user = ((PhotosManager.Models.User)Session["ConnectedUser"]);

    bool userLike = PhotosManager.Models.DB.Likes.ToList().Exists(l => (l.PhotoId == Model.Id && l.UserId == user.Id));
    bool userComment = PhotosManager.Models.DB.Comments.ToList().Exists(l => (l.PhotoId == Model.Id && l.UserId == user.Id));

    string photoLikedByConnectedUser = userLike ? "fa" : "fa-regular";
    string photoCommentByConnectedUser = userComment ? "fa-solid" : "fa-regular";
    int currentPhotoId = (int)Session["id"];
}


<div class="photoDetailsOwner">
    <div class="UserSmallAvatar" style="background-image:url('@Model.Owner.Avatar')" title="@Model.Owner.Name"></div>
    @Model.Owner.Name
</div>
<hr>
<div class="photoDetailsTitle">@Model.Title</div>
<img src="@Model.Image" class="photoDetailsLargeImage">
<div class="photoDetailsCreationDate">
    @Helper.When(Model.CreationDate, true)
    <div class="likesSummary">
        @Model.Comments.Count()
        <i class=" cmdIconSmall @photoCommentByConnectedUser fa-comment" title="@Model.UsersCommentList"></i>

        @Model.Likes.Count()
        <a href="/Photos/TogglePhotoLike/@Model.Id"
           style="text-decoration:none; font-size:1.1em"
           class="cmdIconSmall @photoLikedByConnectedUser fa-thumbs-up"
           id="addRemoveLikeCmd"
           title="@Html.Raw(Model.UsersLikesList)">
        </a>
    </div>

</div>
<div class="photoDetailsDescription">@Model.Description</div>
<hr />
<div class="commentFooter">
    <div></div>
    <div class="commentSubFooter">
        <i class="newCommentCmd cmdIconSmall fa-regular fa-comment" newCommentId="0"></i>
    </div>
</div>

<div class="commentsSection" id="commentsSection"><!-- auto refreshed --></div>

<div class="newCommentLayout" photoId="@currentPhotoId" id="0">
    <div class="UserSmallAvatar" style="background-image:url('@user.Avatar')" title="@user.Name"></div>
    <textarea class="form-control" rows="1" placeholder="commenter"></textarea>
    <div></div>
    <div class="editCommentFooter">
        <div></div>
        <span class="createComment cmdIconSmall fa fa-check" newCommentId="0"></span>
        <span class="cmdIconSmall fa fa-times"></span>
    </div>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        let commentsSection;
        $(() => {
            commentsSection = new AutoRefreshedPanel("commentsSection", "/Photos/GetComments/@Model.Id", 5, attachEvents);
        })
        function attachEvents() {
            $(".editCommentLayout").hide();
            $(".newCommentLayout").hide();
            $(".responseLayout").hide();

            $(".newCommentCmd").click(function () {
                commentsSection.pause();
                let id = $(this).attr("newCommentId");
                $("#" + id).show();
                $("#" + id + "> textarea").focus();
                $("[commentId=" + id + "]").hide();
            })

            $(".editCommentCmd").click(function () {
                commentsSection.pause();
                let id = $(this).attr("editCommentId");
                $("#" + id).show();
                $("#" + id + "> textarea").focus();
                $("[commentId=" + id + "]").hide();
            })

            $(".abortEditComment").click(function () {
                commentsSection.restart();
                $("#" + $(this).attr("abortEditCommentId")).hide();
                $("[commentId=" + $(this).attr("abortEditCommentId") + "]").show();
            })

            $(".updateComment").click(function () {
                let commentId = $(this).attr("updateCommentId");
                $("#" + commentId).hide();
                let comment = $("#" + commentId + "> textarea").first().val();
                commentsSection.command(`/Photos/UpdateComment?id=${commentId}&text=${comment}`);
                $("[commentId=" + $(this).attr("updateCommentId") + "]").show();
                commentsSection.restart();
            })

            $(".createComment").click(function (event) {
                event.preventDefault();
                let commentId = $(this).attr("newCommentId");

                $("#" + commentId).hide();
                let comment = $("#" + commentId + "> textarea").first().val();
                commentsSection.command(`/Photos/CreateComment?parentId=${commentId}&text=${comment}`);
                commentsSection.restart();
            })

            $(".deleteComment").click(function () {
                commentsSection.pause();
                let commentId = $(this).attr("deleteCommentId");
                $("#" + commentId).hide();
                let comment = $("#" + commentId + "> textarea").first().val();
                commentsSection.confirmedCommand("Effacer?", `/Photos/DeleteComment?id=${commentId}&text=${comment}`);
                commentsSection.restart();
            })
        }
    </script>
}

